body {
    background: url('../images/bg_body.jpg');
	font-family: Verdana,Geneva,sans-serif;
	color:#fff;
}

a {
	text-decoration:underline;
}

h1, h2, h3, h4, h5, h5, nav, section {
	font-family: Georgia,Times,Times New Roman,serif; 
}

h1 {
	font-style:italic;
}

div.wrapper {
    width: 1000px;
    position: inherit;
	margin: auto;
	background: rgba(0, 0, 0, .4);
	padding-top:60px;
}

header.header {
	width:100%;
	background: grey;
}

nav.mainmenu {
	display:inline-block;
	position:relative;
	top: -60px;
	left: 80px;
	height: 39px;
	background:#fff;
	border-radius:5px;
}

ul.menu-list li.menu-item {
	display:inline-block;
	white-space:nowrap;
}

li.menu-item {
	line-height:39px;
	width: 110px;
	/*margin: 0 10px 0 10px;*/
	text-align:center;
	text-decoration:none;
}

ul.lang-list li.lang-item {
	display:inline-block;
	white-space:nowrap;	
	position:relative;
	top: -140px;
	font-size:11px;
	color:#e8d183;
}

li.lang-item:nth-child(-n+3)::after{
	content:' |';
	color:#fff;
}

div.auth {
	display:inline-block;
	white-space:nowrap;	
	position:relative;
	top: -155px;
	left:830px;
	font-size:11px;	
}

span.auth-link {
	
}

span.signin {
	
}